:root {
    --first-color: #1b1b1b;
    --second-color: #333333;
    --third-color: #525252;
    --fourth-color: #23fff4;
    --fifth-color: #d3d6db;
    --sixth-color: #f1f1f1;
    --seventh-color: rgb(0, 136, 226);
}

input {
    background-color: var(--second-color);
    padding: 5px;
    border: var(--fifth-color) solid 1px;
    border-radius: 5px;
    width: 100%;
}
/***************************ABOUT BOOKS *************************/
.about-books-content {
    position: relative;
    background-color: var(--second-color);
    color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 5px;
}
.search-and-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-and-edit button {
    margin-left: 5px;
    width: 10%;
    padding: 5px;
}

.give-advice-content {
    position: relative;
    display: flex;
    background-color: var(--second-color);
    color: var(--fifth-color);
    padding: 10px;
    margin-top: 5px;
}

/**************************** QUOTES **********************/
.quotes-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    color: var(--fifth-color);
    padding: 10px;
    margin-top: 5px;
}

input,
form {
    width: 100%;
    color: var(--fifth-color);
    margin-bottom: 2px;
    font-size: 16px;
}

.quotes-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.quotes-submit button {
    background-color: var(--third-color);
    border-radius: 5px;
    color: var(--fifth-color);
    font-weight: bold;
    border: var(--fifth-color) solid 2px;
    padding: 4px;
}

.quotes-submit p {
    font-size: 14px;
}
.quotes-created {
    width: 100%;
}

.quotes-created p {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--first-color);
    border: var(--seventh-color) solid 1px;
    color: var(--fifth-color);
    font-size: 16px;
}