@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Lato:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inclusive Sans', sans-serif;
    
}

.background-app {
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
}

.gradient-text1 {
    background: linear-gradient(to left, #40c7e8, #0077cc);
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.gradient-text2 {
    background: linear-gradient(to left, #60ff95, #00bb10);
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.gradient-text3 {
    background: linear-gradient(to left, #9a5bff, #5300b3);
    background-clip: text;
    color: transparent;
    display: inline-block;
}
.nearly-full {
    width: 90%;
}
.full-screen {

    height: 100vh;
}